<div class="job-popup-box">
	<h1><%= @job.title %></h1>
	<div class="separator"></div>
	<div class="text">
		<%= @job.text.html_safe %>
	</div>
	<div class="padding15"></div>
	<div class="separator"></div>
	<p>
		Подробнее по телефону: <strong> <%= setting.order_phone %></strong>
	</p>
</div>
<a href="#" class="close"></a>
