<div class="wrap">
	<h1>Заводы</h1>
	<div class="content">
		<div class="factories-box">
		<% @factories.each do |factory| %>
			<div class="item">
				<div class="logo">
					<%= image_tag factory.image.url(:small)%>
				</div>
				<div class="products">
					Аи-92, Аи-95, СМТ, ДТ-2 <br/>
					ПТ, ПТ-2
				</div>
				<div class="info">
					<%= content_tag "p", "Адрес: <strong>#{factory.address}</strong>".html_safe if factory.address %>
					<%= content_tag "p", "Контактный телефон: <strong>#{factory.phone}</strong>".html_safe if factory.phone %>
				</div>
			</div>
			<div class="padding15"></div>
			<div class="separator"></div>

		<% end %>
	</div>
</div>
<div class="clear"></div>
