<h1>Свяжитесь
<br/>
с нами сегодня!</h1>
<%= form_for Feedback.new, remote: true  do |f| %>
<%= f.hidden_field :the_type, value: :feedback %>
<div class="form">
	<div class="submit_status notice" style="text-align: left;"></div>
	<div class="line">
		<%= f.text_field :title, class: 'inp-text', placeholder: "Имя",  required: true%>
	</div>
	<div class="line">
		<%= f.text_field :email, class: 'inp-text', placeholder: "E-mail", required: true%>
	</div>
	<div class="line">
		<%= f.text_field :phone, class: 'inp-text', placeholder: "Телефон",  required: true %>
	</div>
	<div class="line">
		<%= f.text_area :text, class: 'inp-text', placeholder: "Тексе сообщения", required: true %>
	</div>
	<div class="line line-send">
		<%= f.submit "Отправить", class: "btn2" %>
	</div>
</div>
<% end %>