<section class="wrapper map">
	<div id="map"></div>
	<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
	<script>
		ymaps.ready(function() {
			var myMap = new ymaps.Map('map', {
				center : [55.8314,49.2055],
				zoom : 16
			}),
			    myPlacemark = new ymaps.Placemark([55.83160882223887, 49.195623177276495], {
				hintContent : 'ООО Тритон Трейд'
			}, {
				iconLayout : 'default#image',
				// Своё изображение иконки метки.
				iconImageHref : '/assets/marker.png',
				// Размеры метки.
				iconImageSize : [150, 150],
				// Смещение левого верхнего угла иконки относительно
				// её "ножки" (точки привязки).
				iconImageOffset : [-75, -75]
			});
			myMap.geoObjects.add(myPlacemark);
		});
	</script>
	<div class="bg"></div>
	<div class="right">
		<div class="info">
			<% info = Page.find_by_uri("map-company-information") %>
			<%= info.text.html_safe if info %>
		</div>
		<div class="form-box">
			<%= render partial: "feedback" %>
		</div>
	</div>
</section>
<div class="clear"></div>

