<section class="wrapper news">
    <h1 class="title">Новости компании</h1>
    <div class="news-container">
        <% @news.each do |news| %>
            <div class="item">
                <h1><%= news.title %></h1>
                <div class="announce"><%= news.announce.html_safe %></div>
                <div class="clearfix"></div>
                <br/>
                <div class="more"><%=link_to "Подробнее &#187;".html_safe, news_path(news.id) %></div>
                <div class="date"><%= news.created_at.strftime("%d.%m.%Y") %></div>
              <div class="clearfix"></div>
            </div>
        <% end %>
      <div class="clearfix"></div>
      <%= link_to "Cмотреть все", news_index_path(), class: 'news-btn btn2' %>
    </div>
</section>

