<section class="wrapper order-container">
  <h1 class="title">Рассчитать заявку</h1>
  <div class="order-box">
    <div class="form-container">
	<%= form_for Delivery.new, url: get_price_path(), remote: true do |f| %>

        <div class="item padding15">
          <span class="numeric">
            1
            <span class="v-sp"></span>
          </span>
          <span class="caption">
            Откуда
            <span class="g-sp g-sp1"></span>
          </span>
			<%= f.collection_select(:from, @from_city, :from, :from, {}, {class: "custom-select"} )  %>
		      
        </div>
        <div class="clear"></div>
        <div class="item padding15">
          <span class="numeric">
            2
            <span class="v-sp"></span>
          </span>
          <span class="caption">
            Куда
            <span class="g-sp g-sp2"></span>
          </span>
 			<%= f.collection_select(:to, @to_city, :to, :to, {}, {class: "custom-select"} )  %>
             
        </div>
        <div class="clear"></div>
        <div class="item padding15">
          <span class="numeric">3</span>
          <span class="caption">
            Бензовоз
            <span class="g-sp g-sp3"></span>
          </span>
		<%= f.collection_select :truck, @trucks, :truck, :truck, {}, {class: "custom-select"} %>

        </div>
      <% end %> 
    </div>
    <div class="x-line"></div>
    <div class="result-order">
      <h1>Стоимость доставки составит</h1>
      <div class="sum-result">~
        <span class="digit"><%= @first_order_summ.to_s.sub(/\d{2}/, '\& ')%></span>
      </div>
      <div class="info">
        Более подробнее <br/>уточняйте у менеджера
        <br><span class="phone-number"><%= setting.order_phone %></span>
      </div>
    </div>
  </div>
</section>