<%= render partial: 'carousel' %>
<section class="wrapper">
	<div class="icons-container">

		<div class="item">
			<a href="/products"> <figure class="ico fuel"></figure>
			<figcaption>
				Топливо
			</figcaption> </a>
		</div>

		<div class="item">
			<a href="/delivery"> <figure class="ico delivery"></figure>
			<figcaption>
				Доставка
			</figcaption> </a>
		</div>

		<div class="item">
			<a href="page/cooperation"> <figure class="ico cooperation"></figure>
			<figcaption>
				Сотрудничество
			</figcaption> </a>
		</div>

	</div>
</section>
<%= render partial: 'order' %>
<%= render partial: 'factories' %>
<%= render partial: 'news' %>
<%= render partial: 'map' %>