<div class="wrap">
	<div class="content all-news">
		<% @news.each do |n| %>
			<div class="item">
				<h1><%= n.title %> </h1>
        		<div class="date"><%= n.created_at.strftime("%d.%m.%Y") %></div>

				<div class="text">
					<%= n.announce.html_safe %>
				</div>
			</div>
			<br/>
            <div class="more"><%=link_to "Подробнее &#187;".html_safe, news_path(n.id) %></div>
			<div class="separator padding15"></div>
		<% end %>
	</div>
</div>
<div class="clear"></div>
