<div class="clear"></div>
<div class="job">	
	<div class="wrap job-container">
		<div class="job-info">
			<div class="dg-job-header-work-slogon">
				Карьера
				<br/>
				в Тритон Трейд
			</div>
			<div class="dg-job-header-slogon cufon">
				<span class="blue"> Наша команда всегда рада </span>
				<br>
				<span class="blue"> новым интересным людям </span>
				<br>
				<span class="blue"> и настоящим профессионалам! </span>
			</div>
		</div>
	</div>
</div>
<div class="wrap">
	<div class="dg-job-page-content">
		<div class="dg-job-left-content padding15">
			<h1 class="dg-job-title cufon"> Если вы </h1>
			<ul class="dg-job-default-list">
				<li>
					нацелены  на успех;
				</li>
				<li>
					умеете решать задачи не только творчески, но также быстро и в срок;
				</li>
				<li>
					накопили большой  потенциал или опыт,
				</li>
			</ul>
			<h1 class="dg-job-title cufon"> то мы предлагаем вам </h1>
			<ul class="dg-job-default-list">
				<li>
					постоянное движение вперед и развитие,
				</li>
				<li>
					а также место, где можно остановиться и перекусить;
				</li>
				<li>
					работу над интересными проектами,
				</li>
				<li>
					разумеется, за достойное вознаграждение,
				</li>
				<li>
					демократичное общение с коллегами
				</li>
				<li>
					и руководителями, которые прислушиваются к вашему мнению и поощряют инициативу;
				</li>
				<li>
					и все это в уютном и современном офисе города Казани,
				</li>
				<li>
					где есть все, что нужно для работы,
				</li>
				<li>
					свежий кофе и чай в ассортименте.
				</li>
			</ul>
		</div>
		<div class="dg-job-right-content padding15">
			<h1 class="dg-job-title cufon">Наши вакансии</h1>
			<ul class="dg-job-default-list">
				<% @jobs.each do |j| %>
				<%= link_to j.title, job_path(j.id), remote: true %>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div class="popup-form job-popup">

</div>
