@charset "utf-8";
/*
	styles for select
*/
.cusel,
.jScrollPaneDrag,
.jScrollArrowUp,
.jScrollArrowDown {
    /*background: url(input.png) repeat-x;*/
}

.cuselFrameRight {
    background: url(arrow.png) no-repeat;
}
.cusel { /* общий вид селекта включая стрелку справа */
    width: 291px!important;
    height: 30px;
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    background-position: 0 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    z-index: 1;
    padding: 0 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.cusel:hover {
    border-color: #aaaaaa;
}
.cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100%;
    width: 42px;
    background-position: 15px 12px;
}
.cuselOpen .cuselFrameRight {
    background-position: 15px -40px;
}

.cuselText { /* контейнер для отображенного текста селект */
    height: 30px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 30px;
    padding: 0 35px 0 15px;
    color: #222222;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cusel span { /* оформление оптиона */
    display: block;
    cursor: pointer;
    white-space: nowrap;
    padding: 0 20px;
    zoom: 1;
    font-size: 13px;
    color: #222222;
    line-height: 30px;
    margin: 0 0 5px -1px;
}
.cusel span:first-child {
    display: none;
}
.cusel-scroll-pane {
    width: 240px ;
}
.cusel span:hover,
.cusel .cuselOptHover { /* реакция оптиона на наведение */
    background: #ffa200;
    color: #fff;
}
.cusel .cuselActive { /* оформление активного оптиона в списке */
    color: #fff;
    cursor: default;
    background-color: #ffa200;
}

/*
	styles for focus and hover
*/
.cusel:hover,
.cusel:focus,
.cuselFocus {
    /*background: url(input.png) repeat-x;*/
    /*background-position: 0 -40px;*/
    outline: none;
}

.cuselOpen {
    z-index: 999;
}

/*
	styles for disabled select
*/
.classDisCusel,
.classDisCusel .cuselFrameRight {
    background: url(row.png);
    cursor: default;
    color: #3a3a3a;
}
.classDisCusel .cuselText {
    cursor: default;
}


/*
	styles for scrollbar
*/
.cusel .cusel-scroll-wrap { /* контейнер для блока с прокруткой */
    display: block;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    width: auto;
    margin-top: 1px;
    border: 1px solid #cccccc;
    background-color: #fff;
    margin-left: -1px;
    width: auto;
    margin-top: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.cusel .jScrollPaneContainer {
    position: relative;
    overflow: hidden;
    z-index: 5;
    text-align: left;
    padding: 5px 0 0 0;
    margin-left: -1px;
}


.cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
    height: 100%;
    width: 7px !important;
    position: absolute;
    top: 0;
    right: 4px;
}
.cusel .jScrollPaneDrag { /* ползунок */
    position: absolute;
    background-position: -40px -26px;
    cursor: pointer;
    width: 15px !important;
    height: 27px !important;
    right: -4px;

}

.cusel .jScrollPaneDragTop {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.cusel .jScrollPaneDragBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.cusel .jScrollArrowUp { /* стрелка вверх */
    position: absolute;
    top: 0;
    right: 2px;
    width: 26px;
    height: 12px;
    cursor: pointer;
    background-position: -2px -26px;
    overflow: hidden;
}
.cusel .jScrollArrowDown { /* стрелка вниз */
    width: 25px;
    height: 12px;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 3px;
    cursor: pointer;
    background-position: -21px -26px;
    overflow: hidden;
}