.factories-box{
  .item{
    display: inline-table;
    vertical-align: middle;
    width:90%;
  }
  .logo, .products, .info{
    display: inline-block;
    vertical-align: middle; 
  } 
  .logo{
    width: 250px;
  }
  .products{
    width: 25%;  
  }
  .info{
    width: 40%;
  }
 .logo, .products{
   padding-right: 30px;
  }
  
}
