<header class="header">
	<div class="header-top">
		<nav class="header-menu">
			<%= get_main_menu() %>
		</nav>
		<%= link_to image_tag("logo.png"), root_path(), class: "logo-main" %>
		<div class="feedback-container">
			<a class="feedback-button btn2" href="#">Заказать звонок</a>
			<%= render partial: 'layouts/popup_callback' %>
		</div>		
		<div class="phone">
			+7(843)235-01-01
		</div>
	</div>
</header>
