<div class="popup-form popup-callback">
  <div class="title">Мы вам перезвоним!</div>
  <%= form_for Feedback.new, remote: true  do |f| %>
      <%= f.hidden_field :title, value: :order_call %>
      <div class="form">
        <div class="submit_status notice"></div>

        <div class="line">
          <label>Введите имя</label>
          <%= f.text_field :from, class: 'inp-text', autofocus: true, required: true%>
        </div>
        <div class="line">
          <label>Введите телефон</label>
          <%= f.text_field :phone, class: 'inp-text', autofocus: true, required: true%>
        </div>
        <div class="line line-send">
          <%= f.submit "Заказать звонок", class: "btn" %>
          <span>Ваши данные в безопасности</span>
        </div>
      </div>
  <% end %>
  <a href="#" class="close"></a>
</div>