<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
-->
<!--[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="">
-->
<!--[if IE 8] <html class="no-js lt-ie9" lang="">
-->
<!-- [if gt IE 8]><!
-->
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>ООО Тритон Трейд | Доставка топлива оптом</title>
    <meta name="description" content="<%= setting.description %>"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="apple-touch-icon.png" rel="apple-touch-icon"/>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body itemscope="" itemtype="http://schema.org/WebPage">
<section id="container">
  <%= render :partial => params[:controller]=='welcome' ? 'layouts/header' : 'layouts/header_page' %>
  <%= yield %>
  <div class="empty padding"></div>
</section>
<%= render :partial => 'layouts/footer' %>
<div class="shadow-fixed"></div>
</body>

</html>
